body {
    margin: 0;
    width: 100%;
    background-color: black;
}

.main {
    margin: 0;
    width: 100%;
    text-shadow:    1px 1px 4px rgba(0, 0, 0, 0.8),
                    2px 2px 6px rgba(0, 0, 0, 0.6);
    color: white;
    background-repeat: no-repeat;
    animation-name: bgFadeIn;
    animation-duration: 1s;
}

.bg {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100vh;
    float: left;
}

.bgFadeIn {
    animation-name: bkgndFadeIn;
    animation-duration: 1s;
}

@keyframes bkgndFadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.bgFadeOut {
    animation-name: bkgndFadeOut;
    animation-duration: 1s;
}

@keyframes bkgndFadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.time-date {
    display: block;
    position: relative;
    padding-top: 5px;
    padding-left: 25px;
}

.time {
    font-size: 92px;
    font-family: roboto, sans-serif;
    font-weight: 300;
    float: left;
    margin: 0;
    position: absolute;
}

.time-subcontainer {
    float: right;
    width: 0.5em;
    top: 0.17em;
    position: relative;
	margin-left: 5px;
}

.time-ss {
    font-size: 0.4em;
    font-family: roboto, sans-serif;
    font-weight: 300;
    float: left;
    position: relative;
}

.time-ampm {
    font-size: 0.3em;
    font-family: roboto, sans-serif;
    font-weight: 300;
    float: left;
    position: relative;
}

.date {
    font-size: 40px;
    font-family: roboto, sans-serif;
    float: left;
    position: absolute;
    top: 2.5em;
}

.weekday {
    font-size: 1em;
    font-weight: 400;
}

.date-mm-dd {
    font-size: 0.7em;
    font-weight: 300;
}

.weather {
    /* background-color: turquoise; */
    float: left;
    position: absolute;
    bottom: 25px;
    left: 40px;
    width: Calc(100% - 40px);
}

.forecast {
    /* background-color: cyan; */
    position: absolute;
    bottom: 0;
    margin-left: 20%;
    width: Calc(80% - 40px);
}

.day {
    min-width: 150px;
    min-height: 219px;
    width: 20vh;
    height: 29.2vh;
    /* background-color: blueviolet; */
    float: left;
    /* border-color: black; */
    /* border-style: dashed; */
    /* border-width: 1px; */
    margin-left: 3%;
}

.weather-weekday, .temp {
    position: relative;
    font-family: roboto, sans-serif;
    font-size: 35px;
}

.precipitation, .uv-index {
    position: relative;
    font-family: roboto, sans-serif;
    font-size: 15px;
}

.precipitation {
    float: left;
    margin-left: 12%;
}

.uv-index {
    float: right;
    margin-right: 12%;
}

.precipitation-uv {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 5%;
}

.weather-weekday {
    /* background-color: cornflowerblue; */
    width: 100%;
    text-align: center;
    display: inline-block;
}

.div-icon {
    float: none;
    display: inline-block;
}

.icon {
    width: 60%;
    margin: 10% 20% 10% 20%;
}

.high {
    /* background-color: chartreuse; */
    float: right;
    margin-right: 8%;
}

.low {
    /* background-color: chartreuse; */
    float: left;
    margin-left: 8%;
}

.today {
    /* background-color: crimson; */
    float: left;
    position: relative;
    width: 20%;
    font-family: roboto, sans-serif;
    font-size: 35px;
    font-weight: 200;
}

.wind {
    clear: left;
    margin-bottom: 20px;
    font-size: 25px;
}

.wind-icon {
    width: 1.6em;
    float: left;
    margin-right: 20px;
    margin-left: 10px;
    transform: translateY(-3px);
}

.suntime {
    float: left;
    margin-bottom: 20px;
    /* background-color: darkgreen; */
}

.suntime-icon{
    width: 1.5em;
    float: left;
}

.sunrise-icon, .sunset-icon, .sunrise-time, .sunset-time{
    font-size: 25px;
    float: left;
}

.sunrise-icon, .sunset-icon {
    margin: 0 10px 0 10px; 
    transform: translateY(2px);
    width: 0.7em;
}

.sunrise-icon {
    transform: rotate(90deg) translateX(6px);
}

.sunset-icon {
    transform: rotate(-90deg) translateY(-0.9px) translateX(-6px);    
}

.sunrise, .sunset {
    clear: left;
}

.current-temp-wrap {
    clear: left;
    font-size: 85px;
    /* background-color: darkmagenta; */
}

.current-temp {
    float: left;
}

.current-icon {
    width: 1em;
    float: left;
    margin-left: 30px;
    transform: translateY(10px);
}

